@media only screen and (min-width: 1600px) and (max-width: 1700px) {  /** Brown **/
  body {
    /*background-color: brown;/*Breakpoint-colour*/
  }

/*.page-home section#block-bean-about-us-heading img.img-responsive{
max-height:563px;
min-height:563px;
}*/
 .page-node-24 .field.field-name-field-header-background-heading.field-type-text.field-label-hidden
  {
    margin: -28.8% auto 10px;
  }
}
@media only screen and (min-width: 1501px) and (max-width: 1600px) {  /** Brown **/
  body {
    /*background-color: brown;/*Breakpoint-colour*/
  }
  .page-node-24 .field.field-name-field-header-background-heading.field-type-text.field-label-hidden {
    margin: -29.58% auto 10px;
  }
   .col-sm-7.match-height {
    margin-top: 4.4%;
  }
}


@media only screen and (min-width: 1600px) {  /** Red **/
  body {
    /*background-color: red;/*Breakpoint-colour*/
  }
 
  .blog-layer{
    top: -111px;

  }
  body.page-home .blog-layer {
    top:-105px;
  }
  .blog-content{
    margin: 0px 30px;
    top: 60px;
  }
  .field.field-name-field-about-heading.field-type-text.field-label-hidden {
    margin: 17% 0px 0px 15px;
  }
  .field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .field.field-name-field-about-heading.field-type-text.field-label-hidden {
    margin: 16% 0px 0px 35px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1450px) {  /** Brown **/

  body {
    /*background-color: teal;/*Breakpoint-colour*/
  }
   .page-node-24 .field.field-name-field-header-background-heading.field-type-text.field-label-hidden {
    margin: -27.82% auto 10px;
}
 .page-node-24 .field.field-name-body.field-type-text-with-summary.field-label-hidden{
    margin: 17px auto 13.77%;

 }

  .entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-information {
    margin-top: 0px;
  }
  .entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-info-link a.btn-style {
    margin-bottom: 0px;
  }
  .col-sm-7.match-height {
    margin-top: 3%;
  }
}
@media only screen and (min-width: 1451px) and (max-width: 1599px) {  /** Brown **/

  body {
    /*background-color: teal;/*Breakpoint-colour*/
  }
  .page-node-24 .field.field-name-field-header-background-heading.field-type-text.field-label-hidden {
    margin: 0px;
}
 .page-node-24 .field.field-name-body.field-type-text-with-summary.field-label-hidden{
    margin: 0px;

 }
  .entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-information {
    margin-top: 0px;
  }
  .entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-info-link a.btn-style {
    margin-bottom: 0px;
  }
  .col-sm-7.match-height {
    margin-top: 4.4%;
  }
}  
@media only screen and (min-width: 1200px) and (max-width: 1599px) {  /** Brown **/
 
  body {
    /*background-color: teal;/*Breakpoint-colour*/
  }
  
  .field.field-name-field-about-heading.field-type-text.field-label-hidden {
    margin: 16% 0px 0px 15px;
  }
  .field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .field.field-name-field-about-heading.field-type-text.field-label-hidden {
    margin: 15% 0px 0px 35px;
  }
}
@media only screen and (max-width: 1200px) {  /** Teal **/
  body {
    /*background-color: teal;/*Breakpoint-colour*/
  }
  .page-node-24 .field.field-name-field-header-background-heading.field-type-text.field-label-hidden {
    margin: -27.85% auto 10px;
    font-size:40px;
}
 .page-node-24 .field.field-name-body.field-type-text-with-summary.field-label-hidden{
    margin: 17px auto 13.5%;

 }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {  /** Purple **/
  body {
    /*background-color: purple;/*Breakpoint-colour*/
  }
  .mod-layer {
    top: -184px;
  }
    .page-node-24 .field.field-name-field-header-background-heading.field-type-text.field-label-hidden {
    margin: -32.7% auto 10px;
    font-size:40px;
}
 .page-node-24 .field.field-name-body.field-type-text-with-summary.field-label-hidden{
    margin: 17px auto 15.85%;
 }
 .social ul.botom-social-links {
  width: 53%;
 }
}
@media only screen and (min-device-width: 990px) and (max-device-width: 1023px) {  /** Green **/
  body {
    /*background-color: green;/*Breakpoint-colour*/
  }
   .page-node-24 .field.field-name-field-header-background-heading.field-type-text.field-label-hidden {
    margin: -33.87% auto 10px;
    font-size:40px;
}
 .page-node-24 .field.field-name-body.field-type-text-with-summary.field-label-hidden{
    margin: 17px auto 16.5%;

 }
}
@media only screen and (max-device-width: 992px) {
  /* .cntct-form {
    width: 80%;
  }*/

  
}
@media only screen and (min-device-width: 768px) and (max-device-width: 989px) {  /** Orange **/
  body {
    /*background-color: orange;/*Breakpoint-colour*/
  }
  .cntct-form {
    width: 80%;
    margin-top: 30px;
}
  .mod-layer {
    top: -209px;
  }
  .page-node-24 .field.field-name-field-header-background-heading.field-type-text.field-label-hidden {
    margin: -46.6% auto 10px;
    font-size:35px;
}
 .page-node-24 .field.field-name-body.field-type-text-with-summary.field-label-hidden{
    margin: 17px auto 17%;

 }
  .header-wrapper .header-top-links section#block-block-1 {
    padding: 0px;
  }
  ul.social-links {
    float: right;
    padding:0px;
  }
  .mean-container .mean-bar {
    float: right;
    width: 60%;
    background-color: #fff;
  }
  .mean-container a.meanmenu-reveal span {
    background-color: #000;
  }
  .mean-container a.meanmenu-reveal {
    color: #000;
    top: 14px;
  }
  .cntct-btn {
    display: none;
  }

  /*logo */

  a.logo.navbar-btn.pull-left img {
    width: 73px;
    position: fixed;
    top: 35px;
    margin: 0px;
  }
  img.logo-shrink {
    margin: 28px 0px 0px 0px !important;
    position: fixed;
    top: -3px !important;
  }
  .head-shrink {
    height: 77px !important;
  }

  /*bottom icon social */
  .social ul.botom-social-links {
    width: 43%;
  }

  /*button */

  .btn-listing.module-btn-style {
    bottom: 10px;
    right: 10px;
  }
  .field.field-name-field-about-link.field-type-link-field.field-label-hidden {
    margin: 51px 0px 0px 15px;
    margin-bottom: 12% !important;
  }
  .page-home .field.field-name-field-about-link.field-type-link-field.field-label-hidden a.btn-style {
    position: absolute;
    bottom: 6px;
    left: 10px;
  }
  iframe.media-youtube-player {
    width: 100% !important;
  }

  /*Product Page */
  .field.field-name-field-header-background-heading.field-type-text.field-label-hidden {
    font-size: 27px;
  }
  .node-type-other-pages a.logo.navbar-btn.pull-left img {
    width: 73px;
    position: fixed;
    top: 35px;
    margin: 0px;
  }
  .field.field-name-body.field-type-text-with-summary.field-label-hidden {
    margin-bottom: 15%;
  }
  .os-share-widget-interface.share-container {
    padding: 15px 9px 55px;
  }
  .node-type-other-pages .field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .field.field-name-field-about-heading.field-type-text.field-label-hidden {
    margin: 6% 0px 0px 0px;
  }
  .node-type-other-pages .col-sm-6 {
    padding: 0px;
  }
  .node-type-other-pages .field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .field.field-name-field-description.field-type-text.field-label-hidden {
    margin: 6% 0px 0px 0px; 
  }
  .node-type-other-pages .entity.entity-bean.bean-half-right-image-slider.view-mode-default {
    padding: 0 15px;
  }
  .node-type-other-pages .field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .entity.entity-bean.bean-about-us.view-mode-default {
    padding: 0 15px;
  }
  .node-type-other-pages .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: 25px 0px;
  }

}
@media only screen and (min-device-width: 480px) and (max-device-width:768px) {  /** Grey **/
  body {
    /*background-color: grey;/*Breakpoint-colour*/
  }
   
  .cntct-form {
    width: 100%;
  }
  body.page-node-24 .field.field-name-field-header-background-heading.field-type-text.field-label-hidden{
    font-size: 26px;
    }
  
  body.page-node-24 .field.field-name-field-header-background-heading.field-type-text.field-label-hidden{
    margin: -35% auto 10px;
  }
  body.page-node-24 .cntct-form.col-md-6.match-height{
    margin-top: 12%;
  }
  body.page-node-24  .form-actions{
    margin-bottom: 15px;
  }
  body.page-node-24  iframe#gmap_canvas{
    margin-bottom: 14px;
  }
  .view.view-main-slider .views-field.views-field-title {
    float: none;
    width: 100%;
  }
  .view.view-main-slider .views-field.views-field-body {
    float: none;
    width: 100%;
    margin-top: 260px; 
  }
  .view.view-main-slider .views-field.views-field-field-slide-link {
    float: none;
    width: 100%;
  }
  /*TOP NAV */

  .header-wrapper .header-top-links section#block-block-1 {
    padding: 0px;
  }
  ul.social-links {
    float: right;
    padding:0px;
  }
  .mean-container .mean-bar {
    float: right;
    width: 60%;
    background-color: #fff;
  }
  .mean-container a.meanmenu-reveal span {
    background-color: #000;
  }
  .mean-container a.meanmenu-reveal {
    color: #000;
    top: 14px;
  }
  .cntct-btn {
    display: none;
  }

  /*logo */

  a.logo.navbar-btn.pull-left img {
    width: 73px;
    position: fixed;
    top: 33px;
    margin: 0px;
  }
  img.logo-shrink {
    margin: 28px 0px 0px 0px !important;
    position: fixed;
    top: -3px !important;
  }
  .head-shrink {
    height: 77px !important;
  }

  /*bottom icon social */
  .social ul.botom-social-links {
    width: 70%;
  }

  /*button */

  .page-home .btn-listing.module-btn-style {
    bottom: 10px;
    right: 10px;
  }
  .field.field-name-field-about-link.field-type-link-field.field-label-hidden {
    margin: 51px 0px 0px 15px;
  }
  .page-home .field.field-name-field-about-link.field-type-link-field.field-label-hidden a.btn-style {
    position: absolute;
    bottom: 8px;
    left: 30px;
  }
  iframe.media-youtube-player {
    width: 100% !important;
  }

  /*Product Page */
  .field.field-name-field-header-background-heading.field-type-text.field-label-hidden {
    font-size: 16px;
    margin: -35% auto 10px;
  }
  .field.field-name-body.field-type-text-with-summary.field-label-hidden {
    font-size: 17px;
  }
  article#node-20 header {
    height: 500px!important;
  }
  article#node-21 header {
    height: 500px!important;
  }
  article#node-22 header {
    height: 500px!important;
  }
  article#node-23 header {
    height: 500px!important;
  }
  .node-type-other-pages a.logo.navbar-btn.pull-left img {
    width: 73px;
    position: fixed;
    top: 33px;
    margin: 0px;
  }
  .field.field-name-body.field-type-text-with-summary.field-label-hidden {
    margin-bottom: 25%;
  }
  .os-share-widget-interface.share-container {
    padding: 15px 9px 55px;
  }
  .field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .field.field-name-field-about-heading.field-type-text.field-label-hidden {
    margin: 6% 0px 0px 0px;
  }
  .page-node-21 .col-sm-6 {
    padding: 0px;
  }
  .node-type-other-pages .field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .field.field-name-field-description.field-type-text.field-label-hidden,
  {
    margin: 6% 0px 0px 0px; 
  }
  .node-type-other-pages .entity.entity-bean.bean-half-right-image-slider.view-mode-default {
    padding: 0 15px;
  }
  .node-type-other-pages .field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .entity.entity-bean.bean-about-us.view-mode-default {
    padding: 0 15px;
  }
  .node-type-other-pages .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: 25px 0px;
  }
  .views-row.views-row-3.views-row-odd.views-row-last.col-md-4.col-sm-6.col-xs-12.no-gutter.blog-listing {
    display: none;
  }
  .header-top-menu {
    height: 93px;
  }
  .node-type-other-pages .header-top-menu {
    height: 93px;
  }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {  /** Yellow **/
  body {
    /*background-color: yellow;/*Breakpoint-colour*/
  }
    .page-node-24 .field.field-name-field-header-background-heading.field-type-text.field-label-hidden {
    margin: -108.77% auto 10px;
    font-size:22px;
}
 .page-node-24 .field.field-name-body.field-type-text-with-summary.field-label-hidden{
    margin: 17px auto 48%;

 }

.cntct-form {
    width: 100%;
  }

  /*TOP NAV */

  .header-wrapper .header-top-links section#block-block-1 {
    padding: 0px;
  }
  ul.social-links {
    float: right;
    padding:0px;
  }
  .mean-container .mean-bar {
    float: right;
    width: 60%;
    background-color: #fff;
  }
  .mean-container a.meanmenu-reveal span {
    background-color: #000;
  }
  .mean-container a.meanmenu-reveal {
    color: #000;
    top: 14px;
  }
  .cntct-btn {
    display: none;
  }

  /*logo */

  a.logo.navbar-btn.pull-left img {
    width: 73px;
    position: fixed;
    top: 33px;
    margin: 0px;
  }
  img.logo-shrink {
    margin: 28px 0px 0px 0px !important;
    position: fixed;
    top: -3px !important;
  }
  .head-shrink {
    height: 77px !important;
  }

  /*bottom icon social */
  .social ul.botom-social-links {
    width: 204px;
  }

  /*head text*/

  .field.field-name-field-slider-heading.field-type-text.field-label-hidden {
    font-size: 45px;
    text-align: center;
    margin: 0px;
    padding:0px;
  }
  /*button */

  .page-home .btn-listing.module-btn-style {
    bottom: 10px;
    right: 10px;
  }
  .field.field-name-field-about-link.field-type-link-field.field-label-hidden {
    margin: 51px 0px 0px 15px;
  }
  .page-home .field.field-name-field-about-link.field-type-link-field.field-label-hidden a.btn-style {
    position: absolute;
    bottom: -43px;
    left: 30px;
    padding: 10px 22px 8px 22px;
  }
  iframe.media-youtube-player {
    width: 100% !important;
  }

  /*Product Page */
  .field.field-name-field-header-background-heading.field-type-text.field-label-hidden {
    font-size: 16px;
    margin: -100% auto 10px;
  }
  .field.field-name-body.field-type-text-with-summary.field-label-hidden {
    font-size: 17px;
  }
  article#node-20 header {
   /* height: 400px!important;*/
  }
  article#node-21 header {
   /* height: 400px!important;*/
  }
  article#node-22 header {
    /*height: 400px!important;*/
  }
  article#node-23 header {
    /*height: 400px!important;*/
  }
  .node-type-other-pages a.logo.navbar-btn.pull-left img {
    width: 73px;
    position: fixed;
    top: 33px;
    margin: 0px;
  }
  body.page-node-20 .about.container{
    margin-top: 10%;
  }
  .field.field-name-body.field-type-text-with-summary.field-label-hidden {
    margin-bottom: 55%;
  }
  .os-share-widget-interface.share-container {
    padding: 15px 9px 55px;
  }
  .social ul.botom-social-links li {
    float: left;
    list-style: none;
    padding: 5px 15px 0px 0px;
  }
  .node-type-other-pages .field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .field.field-name-field-about-heading.field-type-text.field-label-hidden {
    margin: 6% 0px 0px 0px;
  }
  .node-type-other-pages .col-sm-6 {
    padding: 0px;
  }
  .node-type-other-pages .field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .field.field-name-field-description.field-type-text.field-label-hidden {
    margin: 6% 0px 0px 0px; 
  }
  .node-type-other-pages .entity.entity-bean.bean-half-right-image-slider.view-mode-default {
    padding: 0 15px;
  }
  .node-type-other-pages .field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .entity.entity-bean.bean-about-us.view-mode-default {
    padding: 0 15px;
  }
  .node-type-other-pages .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: 25px 0px;
  }
  .col-xs-6 {
    width: 47%;
  }
  ul.social-links li:first-child {
    padding: 4px 0px 1px;
  }
  ul.social-links li {
    padding: 3px 1.6px 0.5px;
  }
  ul li.leaf {
    border-right: none;
  }
  .entity.entity-bean.bean-video-block.clearfix {
    padding: 20px 14px;
  }
  .header-top-menu {
    height: 93px;
  }
  .node-type-other-pages .header-top-menu {
    height: 93px;
  }
  .about.container p:last-child {
    margin-bottom: 10px;
  }
  .page-node-21 a.btn-style, .page-node-23 a.btn-style {
    position: relative;
    left: -35px;
  }
  .field.field-name-field-slider-heading.field-type-text.field-label-hidden {
    position: fixed;
  }
}

/*home page text */

/*  .field.field-name-field-half-third-description.field-type-text-long.field-label-hidden {
position: fixed;   
}
.field.field-name-field-slider-heading.field-type-text.field-label-hidden {
position: fixed;
}
.field.field-name-field-half-third-link.field-type-link-field.field-label-hidden {
position: absolute!important;
}
}*/

@media only screen and (min-device-width: 320px) and (max-device-width: 428px) {  /** Blue **/
  body {
    /*background-color: blue;/*Breakpoint-colour*/
  }
 /* .cntct-form{
    width:100%;
  }*/
  .cntct-form form#webform-client-form-31 .form-item.webform-component.form-group {
    width: 100%;
}
.page-node-24 .form-actions {
margin-bottom: 4%;
}
.page-node-24 iframe#gmap_canvas {
  margin-bottom: 4.8%;
}
.cntct-form .form-group .email.form-control.form-text.form-email {
   
    width: 100%;
    margin-bottom: 18px;
   
 }
}

/*Selected Resolutions Media Query */


@media only screen and (min-width: 2880px) and (max-width: 2885px) {  
.field.field-name-field-header-background-heading.field-type-text.field-label-hidden
  {
    margin: -30% auto 10px;
  }
  .field.field-name-body.field-type-text-with-summary.field-label-hidden {
    margin: 17px auto 24%;
  }
  .page-node-24 .field.field-name-body.field-type-text-with-summary.field-label-hidden {
     margin: 17px auto 14.5%;
  }
  body.page-node-22 .os-share-widget-interface.share-container {
    margin-top: 2%;
  }
  .col-sm-7.no-gutter {
   margin-top: 4.1%;
  }
  body.page-home .blog-layer {
    top: -87px;
  }
  .blog-layer {
    top: -93px;
  }
  .collapsible.group-info-inner-section.field-group-div.speed-fast.effect-none.fieldgroup-effects-processed {
    margin-bottom: 30px;
  }
  iframe#gmap_canvas {
    width: 101%;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 1925px){  
.field.field-name-field-header-background-heading.field-type-text.field-label-hidden
  {
    margin: -30% auto 10px;
  }
  .field.field-name-body.field-type-text-with-summary.field-label-hidden {
    margin: 17px auto 21%;
  }
  ./*page-node-24 .field.field-name-body.field-type-text-with-summary.field-label-hidden {
     margin: 17px auto 19%;
  }*/
  body.page-node-22 .os-share-widget-interface.share-container {
    margin-top: 2%;
  }
  .col-sm-7.no-gutter {
   margin-top: 5.2%;
  }
  body.page-home .blog-layer {
    top: -86px;
  }
  .blog-layer {
    top: -93px;
  }
  .collapsible.group-info-inner-section.field-group-div.speed-fast.effect-none.fieldgroup-effects-processed {
    margin-bottom: 30px;
  }
  iframe#gmap_canvas {
    width: 102%;
  }
  .page-node-24 .field.field-name-body.field-type-text-with-summary.field-label-hidden {
    margin: 17px auto 12%;
  }
}

@media only screen and (min-width: 2560px) and (max-width: 2565px){  
.field.field-name-field-header-background-heading.field-type-text.field-label-hidden
  {
    margin: -30% auto 10px;
  }
  .field.field-name-body.field-type-text-with-summary.field-label-hidden {
    margin: 17px auto 23%;
  }
  .page-node-24 .field.field-name-body.field-type-text-with-summary.field-label-hidden {
     margin: 17px auto 21.6%;
  }
  body.page-node-22 .os-share-widget-interface.share-container {
    margin-top: 2%;
  }
  .col-sm-7.no-gutter {
   margin-top: 4.4%;
  }
  body.page-home .blog-layer {
    top: -86px;
  }
  .blog-layer {
    top: -93px;
  }
  .collapsible.group-info-inner-section.field-group-div.speed-fast.effect-none.fieldgroup-effects-processed {
    margin-bottom: 30px;
  }
  iframe#gmap_canvas {
    width: 102%;
  }
}

@media only screen and (min-width: 1680px) and (max-width: 1685px){  
.field.field-name-field-header-background-heading.field-type-text.field-label-hidden
  {
    margin: -30% auto 10px;
  }
  .field.field-name-body.field-type-text-with-summary.field-label-hidden {
  margin-bottom: 20%;
  }
  .page-node-24 .field.field-name-body.field-type-text-with-summary.field-label-hidden {
    margin: 17px auto 10.8%;
  }
  body.page-node-22 .os-share-widget-interface.share-container {
    margin-top: 2%;
  }
  .col-sm-7.no-gutter {
   margin-top: 3.5%;
  }
  body.page-home .blog-layer {
    top: -86px;
  }
  .blog-layer {
    top: -93px;
  }
  .collapsible.group-info-inner-section.field-group-div.speed-fast.effect-none.fieldgroup-effects-processed {
    margin-bottom: 30px;
  }
  iframe#gmap_canvas {
    width: 102%;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1285px) {  
.field.field-name-field-header-background-heading.field-type-text.field-label-hidden
  {
    margin: -30% auto 10px;
  }
  .field.field-name-body.field-type-text-with-summary.field-label-hidden {
  margin-bottom: 14.8%;
  }
  .page-node-24 .field.field-name-body.field-type-text-with-summary.field-label-hidden {
    margin: 17px auto 6.8%;;
  }
  body.page-node-22 .os-share-widget-interface.share-container {
    margin-top: 2%;
  }
  .col-sm-7.no-gutter {
   margin-top: 1.1%;
  }
  /*.views-field.views-field-nothing {
  margin-top: -10.9% !important;
  position: relative;*/
}
  body.page-home .blog-layer {
    top: -112px;
  }
  .blog-layer {
    top: -119px;
  }
  .collapsible.group-info-inner-section.field-group-div.speed-fast.effect-none.fieldgroup-effects-processed {
    margin-bottom: 30px;
  }
  iframe#gmap_canvas {
    width: 103%;
  }
  .page-node-24 .field.field-name-field-header-background-heading.field-type-text.field-label-hidden {
    margin: -19.58% auto 10px;
  }
  body.page-node-24 img.img-responsive {
    /* margin-top: 40px; */
  }
}

@media only screen and (min-width: 1024px) and  (max-width: 1025px) {  
.field.field-name-field-header-background-heading.field-type-text.field-label-hidden
  {
    margin: -30% auto 10px;
  }
  .field.field-name-body.field-type-text-with-summary.field-label-hidden {
  margin-bottom: 4%;
  }
  .page-node-24 .field.field-name-body.field-type-text-with-summary.field-label-hidden {
    margin: 17px auto 15.9%;
  }
  body.page-node-22 .os-share-widget-interface.share-container {
    margin-top: 2%;
  }
  .col-sm-7.no-gutter {
   margin-top: 0%;
  }
  .views-field.views-field-nothing {
  margin-top: -13.8% !important;
  position: relative;
}
  body.page-home .blog-layer {
    top: -86px;
  }
  .blog-layer {
    top: -93px;
  }
  .entity.entity-bean.bean-module-info.view-mode-default{
  /*  top: 120px !important;*/
  }
.field.field-name-field-header-background-heading.field-type-text.field-label-hidden{
  font-size: 40px;
}
.entity.entity-bean.bean-about-us.view-mode-default{
  margin-top: 14%;
}
body.page-home .entity.entity-bean.bean-about-us.view-mode-default{
  margin-top: 0px !important;
}
.field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden{
  margin-top: 14%;
}
.collapsible.group-info-inner-section.field-group-div.speed-fast.effect-none.fieldgroup-effects-processed {
  margin-bottom: 30px;
  }
section#block-bean-benefits-0{
  bottom: 70px;
  }
.views-row.views-row-3.views-row-odd.col-md-6.col-sm-6.col-xs-12.no-gutter{
  top: 65px;
  }
.views-row.views-row-4.views-row-even.views-row-last.col-md-6.col-sm-6.col-xs-12.no-gutter{
  top: 65px;
}
body.page-node-23 .field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden{
  margin-top: 0px !important;
}
iframe#gmap_canvas {
  width: 104%;
  }
}