@media only screen and (min-width: 1600px) {  /** Red **/
  body {
    /*background-color: red;/*Breakpoint-colour*/
  }
  .blog-layer {
    top: -112px;
    height: 123px;
  }
  .blog-content{
    margin: 0px 30px;
    top: 60px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {  /** Brown **/
  body {
    /*background-color: brown;/*Breakpoint-colour*/
  }
}
@media only screen and (max-width: 1200px) {  /** Teal **/
  body {
    /*background-color: teal;/*Breakpoint-colour*/
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {  /** Purple **/
  body {
    /*background-color: purple;/*Breakpoint-colour*/
  }
  .mod-layer {
    top: -184px;
  }
}
@media only screen and (min-device-width: 990px) and (max-device-width: 1023px) {  /** Green **/
  body {
    /*background-color: green;/*Breakpoint-colour*/
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 989px) {  /** Orange **/
  body {
    /*background-color: orange;/*Breakpoint-colour*/
  }
  .mod-layer {
    top: -209px;
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width:768px) {  /** Grey **/
  body {
    /*background-color: grey;/*Breakpoint-colour*/
  }
  .view.view-main-slider .views-field.views-field-title {
    float: none;
    width: 100%;
  }
  .view.view-main-slider .views-field.views-field-body {
    float: none;
    width: 100%;
    margin-top: 260px; 
  }
  .view.view-main-slider .views-field.views-field-field-slide-link {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {  /** Yellow **/
  body {
    /*background-color: yellow;/*Breakpoint-colour*/
  }
}
@media only screen and (max-device-width: 319px) {  /** Blue **/
  body {
    /*background-color: blue;/*Breakpoint-colour*/
  }
}
