/* General CSS */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  /*font-family: 'Avenir';*/
  font-family: ‘Lato’, sans-serif;
  font-weight: bold;
  padding-top: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.no-gutter {
  padding-left: 0px;
  padding-right: 0px;
}
h1.page-header {
  display: none;
}
ul li.collapsed, ul li.expanded, ul li.leaf {
  list-style: none;
}
.container-fluid {
  padding: 0px;
}
.row {
  margin: 0;
}
section.col-sm-12 {
  margin: 0;
  padding: 0;
}
.action-links {
  display: none;
}

/* Header CSS */

.header-top-menu.blockFloat-processed.blockFloat-0.floating-block-active {
  background-color: #fff;
}
.node-type-other-pages a.logo.navbar-btn.pull-left img {
  width: 80px;
  margin: 16px 0px 0px 19px;
  /*margin-top: 1px!important;*/
}
a.logo.navbar-btn.pull-left img {
  width: 80px;
  margin: 16px 0px 0px 19px;
  ;
  position: fixed;
  transition: all 0.1s ease-in-out;
}
.logo-shrink {
  width: 55px !important;
  margin: 4px 0px 0px 19px !important;
}
.header-top-links {
  background-color: #212121;
}
.node-type-other-pages .header-top-menu {
  height: 119px;
}
.header-top-menu {
  height: 119px;
  background: #fff;
  width: 100%;
  position: fixed;
  top: 25;
  transition: all 0s ease-in-out;
}
.head-shrink {
  top: 0;
  height: 68px !important;
}
section#block-system-main-menu {
  padding: 31px 0px;
  position: fixed;
  transition: all 0.1s ease-in-out;
  right: 0;
}
.node-type-other-pages section#block-system-main-menu {
  padding: 36px 0px;
}
.nav-shrink {
  padding: 20px 0px !important;
}
ul.social-links {
  float: right;
  margin-bottom: 0px;
}
ul.social-links li:first-child {
  padding: 4px 10px 1px;
  font-size: 13.4px;
  letter-spacing: 0.2px;
}
ul.social-links li {
  float: left;
  list-style: none;
  padding: 1px 5.2px 0.5px;
  color: #fff;
  font-size: 15px;
}
ul.social-links li i.fa {
  color: #fff;
}
.region.region-header section#block-system-main-menu ul.menu.nav {
  float: right;
  margin: 10px 0px;
}
.region.region-header section#block-system-main-menu ul.menu.nav li {
  float: left;
}
.region.region-header section#block-system-main-menu ul.menu.nav li {
  float: left;
  margin: 0px 13px;
}
.region.region-header section#block-system-main-menu ul.menu.nav li:hover, .region.region-header section#block-system-main-menu ul.menu.nav li:active {
  /*background-color: #000;*/
  /*color: #fff;*/
  text-align: center;
}
.region.region-header section#block-system-main-menu ul.menu.nav li a:hover {
  background-color: #000;
  color: #fff;
}
.region.region-header section#block-system-main-menu ul.menu.nav li.active {
  background-color: #212121;
}
.region.region-header section#block-system-main-menu ul.menu.nav li.active a {
  color: #fff;
}
/*ul.dropdown-menu{
  min-width: 195px;
  padding: 10px 0px;
  margin: 10px 0px 0px;
  left: 45px;
}*/

.region.region-header section#block-system-main-menu ul.menu.nav li a {
  color: #212121;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0px;
  padding: 4px 21.8px 1px;
  /*font-family: 'Avenir';*/
  font-family: ‘Lato’, sans-serif;
}
.region.region-header section#block-system-main-menu ul.menu.nav li {
  color: #212121;
}
.region.region-header section#block-system-main-menu ul.menu.nav li:active a {
  color: #fff;
}
.region.region-header section#block-system-main-menu ul.menu.nav li:nth-child(4) a {
  padding: 7px 25px 4px 20px;
  font-weight: bold;
}
.region.region-header section#block-system-main-menu ul.menu.nav li a:hover, .region.region-header section#block-system-main-menu ul.menu.nav li a:focus, < .region.region-header section#block-system-main-menu ul.menu.nav li.active a {
  color: #fff;
  background-color: #212121;
}
section#block-block-18 {
  float: left;
  width: 100%;
  height: 0px;
}
.fa-angle-down:before {
  float: right;
  margin-top: 7px;
  z-index: 1;
  position: relative;
  padding-right: 10px;
}

/*Footer Main CSS */

.footer-main {
  background-color: #212121;
  padding: 50px 0px 30px 0px;
}
.footer-main .region.region-footer h2.block-title {
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: bold;
}
.footer-main .region.region-footer ul.menu.nav li a {
  padding: 1px 0px;
  color: #DADADA;
  text-transform: capitalize;
  /*text-transform: uppercase;*/
}
.region.region-footer ul li {
  list-style: none;
  padding: 0px;
  color: #DADADA;
}
.footer-main .region.region-footer ul.menu.nav li a:hover {
  padding: 1px 0px;
  background-color: none;
  background: none;
}
.footer-bottom .region.region-footer-bottom ul.menu.nav li a:hover {
  padding: 5px 0px;
  background-color: none;
  background: none;
}
.footer-main ul {
  padding-left: 0px;
}
.social .footer-main ul.botom-social-links {
  padding-left: 0px;
}
.social ul.botom-social-links {
  margin: 0 auto;
  width: 43%;
}
.social ul.botom-social-links li {
  float: left;
  list-style: none;
  padding: 5px 25px 0px 0px;
}
.footer-main ul.botom-social-links li a i {
  color: #ffffff;
}
.footer-main .region.region-footer .h3 {
  color: #fff;
  margin-bottom: -20px;
  text-transform: capitalize;
  font-weight: bold;
}
.tweets-pulled-listing .tweets-pulled-listing .tweet-text a {
  color: #78a952;
}
.tweet-divider {
  display: none;
}
div.tweet-footer .tweet-actions {
  float: left;
}
.tweet-actions .twitter-reply .fa.fa-reply {
  color: #ffffff;
}
.tweet-actions .twitter-retweet .fa.fa-retweet {
  color: #ffffff;
}
.tweet-actions .twitter-favorite .fa.fa-heart {
  color: #e95e74;
}
.tweet-text {
  line-height: 35px;
}
.tweets-pulled-listing>li {
  float: left;
}
.footer-bottom {
  background-color: #303030;
}
.footer-bottom {
  padding: 10px;
}
#block-menu-menu-bottom-footer-menu ul li {
  float: left;
  border-right: 1px solid #ccc;
}
#block-menu-menu-bottom-footer-menu ul li.last {
  border-right: none;
}
.region.region-footer-bottom {
  display: table;
  margin: 0 auto;
}
#block-menu-menu-bottom-footer-menu ul li a, #block-menu-menu-bottom-footer-menu ul li span {
  color: #ccc;
  padding: 0px 10px;
  display: block;
}

/*        HEADER*/

.header-wrapper .header-top-links section#block-block-1 {
  padding: 0 30px;
}
header#navbar {
  position: relative;
  z-index: 3;
}
section#block-bean-main-slider-0 li {
  height: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 220px;
  background-size: 60%;
}
section#block-bean-main-slider-0 div#flexslider-1 {
  margin: 0;
}
.field.field-name-field-slider-heading.field-type-text.field-label-hidden {
  font-size: 48px;
  width: 250px;
  line-height: 1.3em;
  text-transform: capitalize;
  position: fixed;
  top: 33%;
  z-index: 3;
}
.field.field-name-field-half-third-description.field-type-text-long.field-label-hidden {
  line-height: 2em;
  width: 329px;
  z-index: 2;
  position: fixed;
  top: 33%;
  margin-top: 189px;
}
.field.field-name-field-half-third-link.field-type-link-field.field-label-hidden {
  margin-top: 25px;
  z-index: 250;
  position: fixed;
  top: 33%;
  margin-top: 300px;
}
.field.field-name-field-main-slider-image.field-type-image.field-label-hidden div#flexslider-1 {
  padding: 0 30px 0 0;
}
section#block-bean-main-slider-0 {
  background: #ffffff;
  z-index: 1;
  position: relative;
  padding: 140px 35px 0px;
  overflow: hidden;
}
.btn-style a {
  color: #78a952;
  font-size: 14px;
  border: solid 2px #78a952;
  padding: 12px 22px 10px 22px;
  text-decoration: none;
  background-color: #ffffff;
}
.btn-style a:hover {
  color: #ffffff;
  background-color: #78a952;
  /*text-transform: uppercase;*/
}
a.btn-style {
  background-color: #ffffff;
  border: 2px solid #78a952;
  color: #78a952;
  font-size: 13px;
  padding: 12px 22px 10px 22px;
  text-decoration: none;
  text-transform: uppercase;
}
.page-home .field.field-name-field-about-link.field-type-link-field.field-label-hidden a.btn-style {
  background: #fff;
}
a.btn-style:hover {
  color: #ffffff;
  background-color: #78a952 !important;
}
.module-btn-style {
  background-color: #ffffff;
  border: 2px solid #78a952;
  color: #78a952;
  font-size: 13px;
  padding: 11px 22px 6px;
  text-decoration: none;
  text-transform: uppercase;
}
.page-home .field.field-name-field-about-link.field-type-link-field.field-label-hidden .module-btn-style {
  background: #ECECEC;
}
.module-btn-style:hover {
  color: #ffffff !important;
  background-color: #78a952 !important;
}
.arrow-down {
  text-align: center;
  position: relative;
  z-index: 1;
}
.arrow-down a {
  color: #212121;
  position: relative;
  top: -58px;
}
.node-type-other-pages .arrow-down a {
  top: -30px;
}
.cntct-btn {
  float: right;
  margin-right: 20px;
}
.cntct-btn a {
  background: #212121 none repeat scroll 0 0;
  border: 2px solid #212121;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.3px;
  padding: 7px 11px 4px;
  position: fixed;
  right: 30px;
  text-decoration: none;
  z-index: 5;
}
@-webkit-keyframes arrow-jump {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}
.arrow-down {
  animation: arrow-jump 1s infinite;
}
.arrow-down a i.fa.fa-angle-double-down {
  font-size: 35px;
}
.cntct-btn a .fa-lg {
  font-size: 25px;
}

/* HOME -->
BENEFITS */

section#block-bean-uses h2.block-title {
  text-transform: capitalize;
  font-size: 23px;
  letter-spacing: 3px;
  font-weight: bold;
}
section#block-bean-benefits-0 h2.block-title {
  text-transform: capitalize;
  font-size: 23.6px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #212121;
}
.page-home section#block-views-benefits-block {
  background-color: #78a952;
  color: #ffffff;
  padding: 30px 20px 50px;
}
.page-home section#block-views-benefits-block .flexslider {
  background: none;
  border: none;
}
section#block-bean-benefits-0, section#block-bean-uses {
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 61px 33px 75px;
  z-index: 1;
  position: relative;
  color: #fff;
  clear: both;
}
.field.field-name-field-benifit-description.field-type-text-long.field-label-hidden {
  font-size: 15px;
  line-height: 29px;
  font-weight: lighter;
}
section#block-bean-benefits-0 .field.field-name-field-benifit-image.field-type-image.field-label-hidden, section#block-bean-uses .field.field-name-field-benifit-image.field-type-image.field-label-hidden {
  display: none;
}

/*          MODULES */

.da-thumbs {
  list-style: none;
  padding: 0;
  margin: 0px;
  margin-bottom: -1px;
}
.da-thumbs li {
  float: left;
  margin: 0px;
  background: #fff;
  padding: 0px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.da-thumbs li a, .da-thumbs li a img {
  display: block;
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}
.da-thumbs li a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.da-thumbs li a {
  overflow: hidden;
  color: #fff;
  text-decoration: none;
}
.da-thumbs li div {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(255, 255, 255, 0.4) 5%, rgba(255, 255, 255, 0.9) 54%);
}
.da-thumbs li div h2 {
  margin: 22% 0% 0% 4%;
  text-transform: capitalize;
  font-size: 27px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #212121;
}
.da-thumbs li div p {
  margin: 0px 20px 10px 30px;
  line-height: 28px;
  color: #212121;
}
.da-thumbs li div a:nth-child(2) {
  color: #78a952;
  font-size: 14px;
  border: solid 2px #78a952;
  padding: 8px 0px 4px 20px;
  text-decoration: none;
  background-color: #ffffff;
  width: 166px;
  float: right;
  margin: 30px 20px 10px;
}
.da-thumbs li div a:nth-child(2):hover {
  color: #ffffff;
  background-color: #78a952;
  text-transform: uppercase;
}
.btn-listing.module-btn-style {
  position: absolute;
  z-index: 1;
  display: inline-block;
  bottom: 30px;
  right: 30px;
  max-width: 250px;
  margin-bottom: 0;
  color: #78a952;
}
.btn-listing.module-btn-style a {
  color: #78a952;
}
.view.view-modules.view-id-modules.view-display-id-block .module-btn-style:hover a {
  color: #fff;
  background: #78a952;
}
.view.view-modules.view-id-modules.view-display-id-block .views-field.views-field-field-call-to-action {
  display: none;
}

/*.views-field .views-field-nothing #da-thumbs li{
display: none;
}
a:hover
+ .view.view-modules.view-id-modules.view-display-id-block .views-field.views-field-field-call-to-action .btn-style{
color: #fff;
background: #78a952;
opacity:1;

}  */

.cntct-form {
  width: 50%;
  margin: 0 auto;
  /*margin-top: 15px;*/
}
body.page-node-24 label.control-label {
  display: none;
}
.field.field-name-field-html-field.field-type-text-long.field-label-hidden {
  /*margin-top: -20px;*/
  color: #ffffff;
  position: relative;
  z-index: 2;
}
.cntct-form .form-item.webform-component.webform-component-textfield.webform-component--name.form-group.form-item.form-item-submitted-name.form-type-textfield.form-group {
  float: left;
  width: 49%;
  margin-right: 8px;
  /*  margin-top: 15px;*/
  display: block;
}
.cntct-form .form-item.webform-component.webform-component-textfield.webform-component--last-name.form-group.form-item.form-item-submitted-last-name.form-type-textfield.form-group {
  width: 49%;
  float: left;
}

/* .cntct-form .form-group .form-control.form-text{
width:95%;
}*/

.cntct-form .form-group .email.form-control.form-text.form-email {
  background-color: #fff;
  margin-top: 0px;
  width: 49%;
  float: left;
  margin-right: 8px;
  border: 1px solid #d4d3d3;
  padding: 5px 10px;
  height: 45px;
}
.cntct-form .form-item.webform-component.webform-component-textfield.webform-component--telephone-number.form-group.form-item.form-item-submitted-telephone-number.form-type-textfield.form-group {
  /* margin-left: 170px; */
  width: 49%;
  float: left;
}
.cntct-form .form-item.webform-component.webform-component-textarea.webform-component--message.form-group.form-item.form-item-submitted-message.form-type-textarea.form-group {
  clear: both;
  max-width: 100%;
  /*margin-top:30px;*/
}
body.page-node-24 .cntct-form h2 {
  color: #0e0e0e;
}
body.page-node-24 .cntct-form p {
  color: #0e0e0e;
}
body.page-node24 .field.field-name-field-html-field.field-type-text-long {
  background-color: #fff;
}
body.page-node-24 .cntct-form button.webform-submit.button-primary.btn.form-submit.btn-style {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}
body.page-node-24 input[type="text"] {
  padding: 5px 10px;
  height: 45px;
}

/*   USAGE */

.page-home section#block-views-uses-block {
  padding: 30px 20px 50px;
}

/*          ABOUT US */

section#block-bean-about-us-heading {
  background-color: #fff;
  z-index: 1;
  position: relative;
}
.field.field-name-field-about-heading.field-type-text.field-label-hidden {
  font-size: 25px;
  /*margin: 78px 0px 0px 15px;*/
  margin: 10% 0px 0px 15px;
  letter-spacing: 3px;
  text-transform: capitalize;
}
.field.field-name-field-description.field-type-text.field-label-hidden {
  line-height: 28px;
  margin: 11px 0px 0px 15px;
}
.field.field-name-field-about-link.field-type-link-field.field-label-hidden {
  margin: 24px 0px 0px 15px;
}
.owl-theme .owl-controls {
  display: none !important;
}

/*          BLOG */

.view.view-blog-view.view-id-blog_view.view-display-id-blog .views-field.views-field-title {
  margin: 0px 10px;
  color: #ffffff;
}
.view.view-blog-view.view-id-blog_view.view-display-id-blog .views-field.views-field-body {
  margin: 20px 10px;
  color: #ffffff;
}
.view.view-blog-view.view-id-blog_view.view-display-id-blog .views-field.views-field-field-blog-link {
  margin: 20px 10px;
}
.view.view-blog-view.view-id-blog_view.view-display-id-blog .pager li>a {
  border: none;
  border-radius: 0px;
  width: 100%;
  color: #81B169;
  background-color: #212121;
  padding: 9px 14px 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.view.view-blog-view.view-id-blog_view.view-display-id-blog ul.pager.pager-load-more {
  margin-top: 0px;
  background: #212121;
}
.view.view-blog-view.view-id-blog_view.view-display-id-blog .pager li>a: hover {
  color: #ffffff;
}
.view.view-blog-view.view-id-blog_view.view-display-id-blog table.views-view-grid {
  width: 100%;
}
.view.view-blog-view.view-id-blog_view.view-display-id-blog img.img-responsive {
  display: none !important;
}
.view.view-blog-view.view-id-blog_view.view-display-id-blog .views-field.views-field-nothing {
  height: 215px;
  margin-top: -20px;
}
.blog-content {
  z-index: 1;
  position: relative;
  margin: 0px 30px;
  top: 68px;
  color: #fff;
}
.blog-layer {
  background: #000 none repeat scroll 0 0;
  opacity: 0.4;
  height: 400px;
  position: relative;
  top: -119px;
  z-index: 0;
}
.blog-link.btn-style {
  margin-top: 22px;
}
.blog-body p {
  line-height: 27px;
}
.blog-heading h2 {
  margin: 5px 0px 3px;
  text-transform: capitalize;
  font-size: 27px;
  letter-spacing: 2px;
  font-weight: bold;
}

/*          CTA */

section#block-bean-cta {
  background-color: #212121;
  margin-top: -20px;
  color: #ffffff;
  position: relative;
  z-index: 2;
}
section#block-bean-cta input[type="email"], .field.field-name-field-html-field.field-type-text-long.field-label-hidden input[type="email"] {
  background-color: #85b75e;
  border: none;
  /*padding: 19px 11px 16px 10px;*/
  text-align: center;
  margin-top: 20px;
  text-align: center;
  width: 232px;
  height: 55px;
}
section#block-bean-cta input[type="email"]::placeholder, .field.field-name-field-html-field.field-type-text-long.field-label-hidden input[type="email"]::placeholder {
  color: #ffffff;
}
.cta a {
  background-color: #6e9a4c;
  border: none;
  color: #ffffff;
  padding: 16px 15px 20px;
  text-transform: uppercase;
  font-size: 20px;
}
section#block-bean-cta h2 {
  text-transform: capitalize;
  letter-spacing: 1.3px;
  font-size: 32px;
  font-weight: bold;
}
section#block-bean-cta, .field.field-name-field-html-field.field-type-text-long.field-label-hidden {
  overflow: hidden;
  clear: both;
}
section#block-bean-cta .cta, .field.field-name-field-html-field.field-type-text-long.field-label-hidden .cta {
  width: 100%;
  margin: 0 auto;
  height: 342px;
  padding: 90px 0px;
}
.dct-bg {
  /*background-image: url(http://roombox.local.com/sites/default/files/op.jpg);*/
  position: absolute;
  opacity: 0.6;
  z-index: -1;
  width: 100%;
  height: 525px;
  top: inherit;
  background-attachment: fixed;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
section#block-bean-cta .xtranslate, .field.field-name-field-html-field.field-type-text-long.field-label-hidden .xtranslate {
  position: relative;
  bottom: 0;
  width: 70%;
  max-width: 100%;
  margin: 0 auto;
  background: #78a952;
}

/*CUSTOMER PAGE*/

section#block-bean-headline-text .field.field-name-field-about-heading.field-type-text.field-label-hidden {
  font-size: 30px;
  margin: 80px 0px 0px 0px;
}
section#block-bean-headline-text .field.field-name-field-description.field-type-text.field-label-hidden {
  line-height: 30px;
  margin: 30px 0px;
}
section#block-bean-headline-text-0 .field.field-name-field-about-heading.field-type-text.field-label-hidden {
  font-size: 30px;
  margin: 80px 0px 0px 0px;
}
section#block-bean-headline-text-0 .field.field-name-field-description.field-type-text.field-label-hidden {
  line-height: 30px;
  margin: 30px 0px;
}

/*OTHER PAGES*/


/*HEADER IMAGE*/

.node-other-pages .field.field-name-field-header-background-image.field-type-image.field-label-hidden img.img-responsive {
  display: none;
}
.header-content-field {
 /* display: table-cell;
  vertical-align: middle;
  text-align:center;*/
}
.field.field-name-field-header-background-heading.field-type-text.field-label-hidden  {
  font-size: 51px;
  background-color: #78a952;
  color: #fff;
  display: table;
  padding: 10px 35px 0px 30px;
  text-transform: capitalize;
  /*margin: -30.7% auto 10px;*/
  letter-spacing: 4px;
  text-align: center;
  width: auto;
  margin:0 auto;
  /*margin-top: 10%;*/
  margin-bottom: 18px;
  /*display: inline-block;
  vertical-align: middle;*/
}
.field.field-name-body.field-type-text-with-summary.field-label-hidden {
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  display: table;
  font-size: 31px;
  /*margin: 17px auto 16.88%;*/
  padding: 8px 20px 0;
  letter-spacing: 1px;
  font-weight: lighter;
  margin: 0 auto;
  width: auto;
  text-align: center;
  /*display: inline-block;
  vertical-align: middle;*/
}
.entity.entity-bean.bean-video-block.clearfix {
  padding: 20px 30px;
}
.field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .entity.entity-bean.bean-about-us.view-mode-default {
  padding: 0px 30px 20px;
  margin-top: 4%;
}
.field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .field.field-name-field-about-heading.field-type-text.field-label-hidden {
  font-size: 47px;
  margin: 6% 0px 0px 35px;
  letter-spacing: 3px;
  text-transform: capitalize;
}
.field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .field.field-name-field-description.field-type-text.field-label-hidden {
  line-height: 28px;
  margin: 0px 0px 0px 35px;
}
.field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden .field.field-name-field-about-link.field-type-link-field.field-label-hidden {
  margin: 24px 0px 0px 35px;
}
.field.field-name-field-video-tittle.field-type-text.field-label-hidden {
  font-size: 47px;
  text-transform: capitalize;
  letter-spacing: 3px;
  /*margin-left: 10px;*/
}
.field.field-name-field-description-bef-video.field-type-text-long.field-label-hidden {
  font-weight: lighter;
  line-height: 30px;
  margin: 25px 10px 30px 0px;
}
.field.field-name-field-description-aft-video.field-type-text-long.field-label-hidden {
  font-weight: lighter;
  line-height: 30px;
  margin: 25px 10px 10px 0px;
}
.node-type-other-pages .arrow-down {
  top: 545px;
}
.node-type-other-pages .field-item.odd .field.field-name-field-html-field.field-type-text-long.field-label-hidden {
  background-color: #212121;
  color: #ffffff;
  position: relative;
}
.os-share-widget-interface.share-container {
  background-color: #ececec;
  padding: 15px 10px 7px;
  width: 100%;
  z-index: 10;
}
.os-share-widget-interface.share-container p {
  float: left;
  font-weight: bold;
  padding: 2px 5px 5px 5px;
  margin-right: 20px;
  font-size: 16px;
  color: #212121;
}
.os-share-widget-interface.share-container .share-provider {
  margin-right: 40px;
  color: #212121;
  position: relative;
  top: -4px;
}
.os-share-widget-interface.share-container .share-provider:hover {
  text-decoration: none;
}
body.page-node-22 .entity.entity-bean.bean-module-info.view-mode-default {
  margin: 0 20px 0px;
  border-top: solid 1px;
  padding: 15px 0px;
  position: relative;
}

/* PRODUCT PAGE */

.node-other-pages[about*="/content/information"] .field.field-name-field-blocks-bundel {
  padding-top: 14px;
}
.entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-module-tittle {
  font-size: 25px;
  text-transform: uppercase;
}
.entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-from.field-type-text, .entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-from.field-type-text .field-label {
  font-size: 17px;
  font-weight: lighter;
}
.entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-information {
  font-size: 25px;
  text-transform: capitalize;
  margin-top: 66px;
}
.entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-short-description {
  line-height: 27px;
  font-size: 17px;
  font-weight: lighter;
}
.entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-info-link {
  /*margin: 25px 0px 90px;*/
}
.entity.entity-bean.bean-module-info.view-mode-default .group-info-section-display.field-group-div {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  /*padding: 5px 0px 10px;*/
  margin: 15px 0px;
}
.entity.entity-bean.bean-module-info.view-mode-default .group-info-inner-section.field-group-div.speed-fast.effect-none, .entity.entity-bean.bean-module-info.view-mode-default .group-info-section-display.field-group-div h3 {
  display: none;
}
.entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-more-info {
  width: 100%;
  cursor: pointer;
}
.field.field-name-field-info-image.field-type-image.field-label-hidden .field-items .field-item.even {
  max-width: 90%;
  margin: 0 auto;
}
.entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-more-info a {
  color: #a1a1a1;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px 5px;
  /*font-family: 'Avenir';*/
  font-family: ‘Lato’, sans-serif;
}
i.fa.fa-info-circle {
  padding-left: 10px;
}
.entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-long-description-heading {
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 30px;
}
.entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-long-description {
  line-height: 28px;
  font-size: 17px;
  font-weight: lighter;
}
.fa-chevron-circle-down:before, .fa-chevron-circle-up:before {
  float: right;
  font-size: 25px;
  padding: 8px 10px 0px 0px;
  color: #a1a1a1;
}
.entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-info-link a.btn-style {
  padding: 11px 37px 7px;
  float: left;
  margin-bottom: 3.7%;
}
.node-other-pages[about*="/content/products"] .field-item.odd .field.field-name-field-html-field.field-type-text-long.field-label-hidden {
  margin-top: -20px !important;
}

/*.cntct-form input#edit-submitted-email-address {
background: #fff;
}*/


/*loading page */

#loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url("/sites/all/themes/roombox/LOADER1.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
}
img.av-preloading-logo {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 73px;
  z-index: 100;
  margin-top: 15%;
}

/*Data Capture on product page*/

.entity.entity-bean.bean-simple-html-block.clearfix h2 {
  text-transform: capitalize;
  letter-spacing: 1.3px;
  font-size: 32px;
  font-weight: bold;
}
.col-sm-6.no-gutter {
  margin-bottom: -2px;
}
table.views-view-grid.cols-4.views-row-first.views-row-odd {
  margin-bottom: -1px;
}
body.page-home .blog-layer {
  top: -113px;
}
.about.container {
  font-size: 15px;
  /*background-color: white;*/
  color: #212121;
  width: 100%;
  padding: 4% 4% 4% 4%;
}
.entity.entity-bean.bean-benefits.clearfix .content {
  color: #212121;
}
body.page-node-24 .os-share-widget-interface.share-container {
  display: none;
}
body.page-node-22 .os-share-widget-interface.share-container {
  /*margin-top: 15px;*/
}
body.page-home ul.pager.pager-load-more {
  padding-bottom: 20px;
}
.page-node-22 .entity.entity-bean.bean-module-info.view-mode-default .field.field-name-field-information {
  margin-top: 20px;
}
.page-node-24 .field.field-name-field-header-background-heading.field-type-text.field-label-hidden {
  margin: -29.58% auto 10px;
}
iframe#gmap_canvas {
  width: 100%;
  height: 500px;
}
.mapouter {
  overflow: inherit !important;
}
.page-node-24 input#edit-submitted-email-address {
  text-align: start;
}
input#edit-submitted-email-address::placeholder {
  color: #a0a0a0;
}
.page-node-24 .footer-main {
  margin-top: -20px;
}
.share-provider.flat.square.size-32.horizontal~#os-share-more {
  position: fixed!important;
}
.entity.entity-bean.bean-simple-html-block[about*="/block/cta"] {
  background: #212121;
}
.field-item.even i {
  position: relative;
  top: 3px;
}
.page-node-22 i.fa.fa-info-circle {
  top: 0px;
}
body.page-node-24 footer.footer-wrapper {
  margin-top: 50px;
}
a.logo.navbar-btn.pull-left {
  margin-top: 1px;
}

/*.dropdown-menu li:hover {
  visibility: visible;

}
.dropdown:hover .dropdown-menu {
  display: block;
  background-color: #fff !important;
  color: #000!important;
}
span.caret {
  display: none;
}
ul.dropdown-menu li.first.leaf a {
  background-color: #fff;
}
.dropdown-menu {
  margin:0px;
  padding: 0px;
}
.dropdown-menu li {
  width: 100%;
  position: relative;
  left: -13px;
}
.dropdown-menu li a {
  float: left;
  padding-left: 40px !important;
}*/


/*NEW MENU*/

.block-superfish h2 {
  /*visibility: hidden;*/
  display: none;
}
section#block-superfish-1 {
  position: relative;
  transition: all 0.1s ease-in-out;
  right: 0;
}
.block-superfish {
  margin-top: 49px;
}
ul#superfish-1 {
  float: right;
  /*margin: 10px 0px;*/
}
ul#superfish-1 li {
  float: left;
  color: #212121;
  padding: 10px;
}
ul#superfish-1 li a.active {
  background-color: #212121;
  color: #fff;
}
ul#superfish-1 li .active-trail a {
  color: #fff;
}
i.fa.fa-angle-down {
  margin-top: -10px;
}
ul#superfish-1 li a.active i.fa.fa-angle-down {
  /*background-color: #212121;*/
  color: #fff;
}
ul#superfish-1 li a {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
  text-transform: uppercase;
  /*font-family: 'Avenir';*/
  font-family: ‘Lato’, sans-serif;
  padding: 7px 20px 5px 20px;
  left: -12px;
  top: -10px;
  /*top: -10px;*/
}
ul#superfish-1 li a:hover {
  background-color: #212121;
  color: #fff;
  /*width: 116%;*/
}
/*ul#superfish-1 li a:hover i.fa.fa-angle-down {
  color: green;
}*/
a.sf-depth-1.menuparent.sf-depth-1.menuparent.sf-with-ul:hover {
  /*background-color: #fff!important;*/
  /*color: #78a952!important;*/
  /*padding-right: 5px!important;*/
}
a.sf-depth-1.menuparent.sf-depth-1.menuparent.sf-with-ul {
  margin-right: -7px;
}
a.sf-depth-1.menuparent.sf-depth-1.menuparent.sf-with-ul.active {
  padding-right: 5px!important;
}
span.sf-sub-indicator {
  display: none;
}
.fa-angle-down {
  /*color: #212121;*/
  padding-left: 7px;
  position: relative;
  top: 1.5px;
}
.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
  background-image: none;
  background-color: white;
  border: 2px solid #efefef;
  color: #fff;
  margin-top: 10px;
  width: 210px !important;
  border-radius: 0px;
  box-shadow: 0px 5px 10px rgb(236, 236, 236);
  margin-left: 30%;
}
ul.sf-hidden li {
  padding: 0px!important;
}
.menu-shrink {
  margin-top: 21px;
}
.page-node-24 .arrow-down {
  display: none;
}
li#menu-2882-1 a:first-child {
  border-bottom: 1px solid rgb(236, 236, 236);
  width: 209px;
}
a.sf-depth-2.sf-depth-2 {
  height: 42px;
}
li#menu-2882-1 a {
  padding-top: 15px !important;
}
li#menu-2883-1 a {
  padding-top: 15px !important;
  margin-top: -20px !important;
  margin-bottom: -40px !important;
  width: 209px !important;
}
li#menu-1762-1 {
  position: relative;
  /*bottom: 10px;*/
}
a.sf-depth-2.sf-depth-2:hover {
  width: 116%;
}
li#menu-1762-1 ul {
  padding-bottom: 0px !important;
}
a.sf-depth-2.sf-depth-2:hover ul#superfish-1 li a.active {
  background-color: #fff !important;
}
i.fa.fa-bars {
  position: absolute;
  right: 36px;
  top: 36px;
  right: 36px;
  top: 26px;
  font-size: 30px;
  color: #212121;
}
.sidr-inner i {
  float: right;
  font-size: 30px;
  clear: both;
  padding: 10px;
  padding-left: 85%;
  cursor: pointer;
  z-index: 999999;
  padding-top: 0px;
  margin-top: 0px;
  position: relative;
  top: 22px;
}
ol.breadcrumb {
  display: none;
}
.node-other-pages header {
  margin-top: 68px;
}
.field.field-name-field-blocks-bundel.field-type-entityreference.field-label-hidden {
  float: left;
  width: 100%;
}
.entity.entity-bean.bean-half-right-image-slider.view-mode-default {
  margin-bottom: 4%;
}
.page-node-22 .field-name-field-blocks-bundel > .field-items > .field-item:first-child {
  margin-top: 4%;
}
.page-node-22 .field-name-field-blocks-bundel > .field-items > .field-item:nth-child(4) {
  margin-bottom: 4%;
}
ul.pager.pager-load-more {
  margin: 0px;
}
.page-node-24 .field-name-field-blocks-bundel > .field-items > .field-item:first-child {
  margin-top: 4%;
}
.header-content-field {
  position: relative;
  top:calc(50% - 226px/2);
}
.page-home .da-thumbs li div p {
  margin: 0px 20px 10px 27px;
  line-height: 28px;
  color: #212121;
}
.page-node-24 .cntct-btn {
  display: none;
}
div#os-share-more {
  display: none;
}

.sidr-inner a {
  text-decoration: none;
  color: #fff;
}
li#sidr-id-menu-1762-1 i {
  display: none;
}
.terms-content, .privacy-content, .cookie-content {
  margin-top: 4%;
  margin-bottom: 4%;
  color: #212121;
}
a.sf-depth-1.menuparent.sf-depth-1.menuparent.sf-with-ul {
  padding-right: 5px !important;
}

/* CUSTOMISER PAGE */

.slick-wrapper {
  margin: 0;
  background: #ececec;
  padding: 20px 0;
}
.slick--center .slick-track {
  padding: 0;
  background: #ffffff;
}
.slick-dotted.slick-slider {
  margin: 0;
  background-image: url("/sites/default/files/styles/slick_640x360/public/CTM_Environment.png");
  background-size: cover;
  background-position: bottom;
}
ul.slick-dots {
  display: none !important;
}
.slide__content {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
}
ul.slide__content {
  padding: 0 0 30px;
}
.slick-active.slick-current .slide__content {
  background: #ececec;
}
.slide__content .slide__caption {
  padding: 0;
}
.slide__content .slide__caption h2.slide__title {
  margin: 5px 0 0;
  font-size: 25px;
}
.slide__content .slide__caption .slide__description {
  display: none;
}
.slick--slider .slick__slide.slide.slick-slide img.img-responsive {
  float: right;
  width: 70%;
}
.fixed_slide {
  position:fixed;
  top:0;
}
.module-price {
  position: absolute;
  right: 20px;
  text-align: right;
  color: #fff;
}
.views-field-field-cladding-price, .views-field-field-dimension-price, .views-field-field-doors-price, .views-field-field-trim-price, .views-field-field-window-pricr, .views-field-field-electric-heater-price {
  display: none;
}
.module-price h1 {
  margin-bottom: 0;
}
.page-customise2 .form-control.form-checkboxes.bef-select-as-checkboxes {
  height: auto;
  padding: 0;
}
aside.module-filters .views-exposed-widget:first-child {
  width: 100%;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
}
select.form-control {
  border-radius: 0;
  border: 1px solid #212121;
  background: none;
}
select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
}
.form-type-select .fa.fa-angle-down {
  float: right;
  top: -20px;
}
.form-type-select .fa.fa-angle-up {
  float: right;
  top: -20px;
  margin: 0;
  padding: 0px 10px 0px; 
  position: relative;
}
aside.module-filters .form-item-field-cladding-tid::before {
  content: "\f107";
  font-family: FontAwesome;
  right: 25px;
  position: absolute;
  top: 38px;
}
aside.module-filters .form-item-field-doors-tid::before {
  content: "\f107";
  font-family: FontAwesome;
  right: 25px;
  position: absolute;
  top: 38px;
}
aside.module-filters .form-checkboxes {
  background: none;
  border: none;
}
.page-customise2 input[type="checkbox"]:checked {
  background: #000 !important;
  color: #fff !important;
}
.page-node-66 .form-control.form-checkboxes.bef-select-as-checkboxes {
  height: auto;
  padding: 0;
}
.page-node-66 input[type="checkbox"] {
  width: 15px;
  float: left;
  height: 15px;
  display: none;
}
.page-node-66 input[type="checkbox"] + label:before {
  border: 1px solid #333;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}
.page-node-66 input[type="checkbox"]:checked + label:before {
  background: #749c5a;
  color: #fff;
  content: "\2713";
  text-align: center;
}
.page-node-66 input[type="radio"] {
  width: 15px;
  float: left;
  height: 15px;
  display: none;
}
.page-node-66 .form-type-radio label {
  padding: 0 0 9px;
}
.page-node-66 [type="radio"] + span {
  display: block;
  float: left;
}
.page-node-66 [type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid #212121;
  margin: 0 0.25em 0 0;
}
.page-node-66 [type="radio"]:checked + span:before {
  background: #749c5a;
}



.group-show-size h3 {
  position: relative;
  z-index: 2;
  font-size: 14px;
  margin: 10px 0 30px;
}
.group-show-size h3 a {
  background: #749c5a;
  width: 100%;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
span.dropdown2mx3m {
  background: #fff;
  color: #749c5a;
  padding: 6px;
  margin-left: 10px;
}
p.open2m {
  color: #fff;
}
span.open2mx3m {
  margin-left: 10px;
}
.group-show-size h3 a .fa-angle-down::before {
  padding-right: 0;
}
.bean-size-price .col-sm-12 {
  padding: 0;
} 
#block-bean-change-size .field-name-field-size-price {
  z-index: 5;
  background: #749c5a;
  position: absolute;
  padding: 22px 15px;
  top: -11px;
  left: -12px;
}
#tablefield-0 {
  background: #ededed;
}
#tablefield-0 .actv-block {
  background: #749c5a;
  color: #fff;
}
#tablefield-0 th:first-child p:first-child {
  width: 0;
  height: 0;
  border-top: 40px solid #dedede;
  border-left: 100px solid transparent;
  margin: 0;
  padding: 0;
}
#tablefield-0 th:first-child p:first-child span {
    position: absolute;
    left: 70px;
    top: 70px;
}
#tablefield-0 p.pdep {
    position: absolute;
    left: 25px;
    top: 88px;
}
#tablefield-0 thead {
  border-bottom: solid 1.5px #212121;
}
#tablefield-0 thead th {
  text-align: center;
}
#tablefield-0 thead tr th:first-child {
  border-right: solid 1.5px #212121;
}
#tablefield-0 tr.even {
  background: #f7f7f7;
}
#tablefield-0 tr td:first-child {
  width: 30px;
  border-right: solid 1.5px #212121;
  text-align: center;
}
#tablefield-0 tr td {
  padding: 7px;
}
#tablefield-0 tr td:not(:first-child):hover, #tablefield-0 tr td:not(:first-child):focus {
  cursor: pointer;
  background: #343434;
  color: #fff;
}
#tablefield-0 p {
  font-size: 12px;
  font-weight: lighter;
}
aside .well {
  background: #f8f8f8;
  border: none;
  box-shadow: none;
}
i.close-size-price {
  float: right;
  cursor: pointer;
}
div.total-p {
  float: right;
  text-align: right;
  position: absolute;
  z-index: 1;
  right: 20px;
  color: #fff;
}
#block-webform-client-block-67 {
  position: relative;
  z-index: 2;
  right: 30px;
  bottom: 142px;
  background: radial-gradient(rgba(130, 176, 101, 0.6) 100%, rgba(130, 176, 101, 0.6) 100%);
  color: #fff;
  text-align: center;
}
#block-webform-client-block-67 h2 {
  font-size: 20px;
  font-weight: bold;
}
#webform-client-form-67 label {
  display: none;
}
#webform-client-form-67 .webform-component-email.webform-component--your-email-adress {
  width: 82%;
  float: left;
}
#webform-client-form-67 #edit-submitted-your-email-adress::placeholder {
  color: #fff;
}
#webform-client-form-67 #edit-submitted-your-email-adress {
  background-color: #7aa65f;
  border: none;
  padding: 19px 11px 16px 10px;
  text-align: center;
  text-align: center;
  height: 55px;
  border-radius: 0;
}
#webform-client-form-67 .form-actions {
  clear: none;
  float: left;
  width: 18%;
}
#webform-client-form-67 .webform-submit.form-submit{
  background-color: #668a50;
  border: none;
  color: #ffffff;
  padding: 13px 15px 13px;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 0;
}